<!-- requires jQuery, scripts.js; sass file: page-types/landing-page/_photo-feature-3-across.scss -->
<div class="section">
	<div class="section-top contain-970">
		<h3>Browse Titles</h3>
	</div>
	<div class="photo-feature-3-across">
		<article class="photo-feature">
			<a href="#">
				<div class="front">
					<img alt="image description" src="/images/480x350.gif"/>
					<div class="text-over-image">
						<h4>Title</h4>
						<p class="link">Learn more</p>
					</div>
				</div>
				<div class="back">
					<div class="back-text">
						<h4>Title</h4>
						<p>Description</p>
						<p class="link">Go to Site</p>
					</div>
				</div>
			</a>
		</article>
		 <article class="photo-feature">
			<a href="#">
				<div class="front">
					<img alt="image description" src="/images/480x350.gif"/>
					<div class="text-over-image">
						<h4>Title</h4>
						<p class="link">Learn more</p>
					</div>
				</div>
				<div class="back">
					<div class="back-text">
						<h4>Title</h4>
						<p>Description</p>
						<p class="link">Go to Site</p>
					</div>
				</div>
			</a>
		</article>
		<article class="photo-feature">
			<a href="#">
				<div class="front">
					<img alt="image description" src="/images/480x350.gif"/>
					<div class="text-over-image">
						<h4>Title</h4>
						<p class="link">Learn more</p>
					</div>
				</div>
				<div class="back">
					<div class="back-text">
						<h4>Title</h4>
						<p>Description</p>
						<p class="link">Go to Site</p>
					</div>
				</div>
			</a>
		</article>
	</div>
</div>
