<div class="section">
	<div class="section-top contain-970">
		<h3>About the collection</h3>
		<p class="subhead">Previously out-of-print scholarship in the humanities now available online</p>
		<p>Northwestern University Press is a recipient of a Humanities Open Book grant funded by the National Endowment for the Humanities and Andrew W. Mellon Foundation. With this grant, we were able to digitize 46 important out-of-print books in African studies, literary criticism, and philosophy and make them available in digital and print formats.</p>
    <!--
		<ul class="center-list">
			<li><a class="button" href="#">Optional Button</a></li>
			<li><a class="button" href="#">Optional Button</a></li>
		</ul>-->
	</div>
	<!-- component code here -->
</div>
